@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	background-color: #00AFF8;
}

#container {
	width: 1280px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #750000;
}

#sidebar {
	width: 150px;
	height: 900px;
	background-color: #9B0060;
	float: left;
}

#lgn {
	width: 300px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

#txt {
	width: 100px;
	height: 30px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	font: bold;
	color: #0D0086;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.butt {
    margin-top: 35px;
}

.butt a {
    padding: 15px;
    border-radius: 20px;
    border-style:solid;
    border-width: 2px;
    border-color: black;
}

.butt a:hover {
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.butt a:active {
    height: auto;
    width: auto;
    background-color: rgba(123,123,123,0.5);
}